In [ ]:
#Pandas for cleaning, IPython for displaying nicer tables

import pandas as pd
from IPython.display import display

C:\Users\dange\AppData\Local\Temp\ipykernel_16292\1506412778.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd #dataprocessing

In [ ]:
#Getting an understanding of the dataset

pokedex_data = pd.read_csv("pokedex.csv")
pokedex_data.info() #get info on the types 
pokedex_data.columns
pokedex_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   german_name       1045 non-null   object
 4   japanese_name     1045 non-null   object
 5   generation        1045 non-null   int64
 6   status            1045 non-null   object
 7   species           1045 non-null   object
 8   type_number       1045 non-null   int64
 9   type_1            1045 non-null   object
 10  type_2            553 non-null    object
 11  height_m          1045 non-null   float64
 12  weight_kg         1044 non-null   float64
 13  abilities_number  1045 non-null   int64
 14  ability_1         1042 non-null   object
 15  ability_2         516 non-null    object
 16  ability_hidden    813 non-null    object
 17  total_points      1045 non-null   int64
 18  hp                1045 non-null   int64
 19  attack            1045 non-null   int64
 20  defense           1045 non-null   int64
 21  sp_attack         1045 non-null   int64
 22  sp_defense        1045 non-null   int64
 23  speed             1045 non-null   int64
 24  catch_rate        1027 non-null   float64
 25  base_friendship   930 non-null    float64
 26  base_experience   925 non-null    float64
 27  growth_rate       1044 non-null   object
 28  egg_type_number   1045 non-null   int64
 29  egg_type_1        1042 non-null   object
 30  egg_type_2        285 non-null    object
 31  percentage_male   872 non-null    float64
 32  egg_cycles        1044 non-null   float64
 33  against_normal    1045 non-null   float64
 34  against_fire      1045 non-null   float64
 35  against_water     1045 non-null   float64
 36  against_electric  1045 non-null   float64
 37  against_grass     1045 non-null   float64
 38  against_ice       1045 non-null   float64
 39  against_fight     1045 non-null   float64
 40  against_poison    1045 non-null   float64
 41  against_ground    1045 non-null   float64
 42  against_flying    1045 non-null   float64
 43  against_psychic   1045 non-null   float64
 44  against_bug       1045 non-null   float64
 45  against_rock      1045 non-null   float64
 46  against_ghost     1045 non-null   float64
 47  against_dragon    1045 non-null   float64
 48  against_dark      1045 non-null   float64
 49  against_steel     1045 non-null   float64
 50  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(13)
memory usage: 416.5+ KB

(1045, 51)

In [7]:
# Rename "Unamed: 0" to "id"
pokedex_data = pokedex_data.rename(columns={"Unnamed: 0": "id"})
pokedex_data.columns

Index(['id', 'pokedex_number', 'name', 'german_name', 'japanese_name',
       'generation', 'status', 'species', 'type_number', 'type_1', 'type_2',
       'height_m', 'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy'],
      dtype='object')

In [ ]:
#quick backup and tested on mysql
pokedex_data.to_csv('cleaned_pokedex.csv', index=False)
print("Cleaned data saved as 'Cleaned_pokedex.csv'")

Cleaned data saved as 'Cleaned_pokedex.csv'

In [ ]:
#checking why SQL import failed - some columns had data unrecognisable e.g. japanese_name
display(pokedex_data.head(5))

,id,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [ ]:
#dropping unrecognisable columns and columns I don't intend on using

pokedex_data.drop(columns=['german_name', 'japanese_name', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles'], inplace=True)
pokedex_data.columns

Index(['id', 'pokedex_number', 'name', 'generation', 'status', 'species',
       'type_number', 'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 'ability_hidden',
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'catch_rate', 'base_friendship', 'base_experience',
       'growth_rate', 'against_normal', 'against_fire', 'against_water',
       'against_electric', 'against_grass', 'against_ice', 'against_fight',
       'against_poison', 'against_ground', 'against_flying', 'against_psychic',
       'against_bug', 'against_rock', 'against_ghost', 'against_dragon',
       'against_dark', 'against_steel', 'against_fairy'],
      dtype='object')

In [14]:
pokedex_data.to_csv('cleaned_pokedex.csv', index=False)
print("Cleaned data saved as 'Cleaned_pokedex.csv'")

Cleaned data saved as 'Cleaned_pokedex.csv'

In [ ]:
#cleaning up the species column

pokedex_data['species'] = pokedex_data['species'].str.replace('Pokémon', '', case=True).str.strip()
display(pokedex_data.head(5))

,id,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,1,Normal,Seed,2,Grass,Poison,0.7,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,1,Normal,Seed,2,Grass,Poison,1.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,1,Normal,Seed,2,Grass,Poison,2.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,1,Normal,Seed,2,Grass,Poison,2.4,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,1,Normal,Lizard,1,Fire,None,0.6,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [ ]:
#cleaning up the ability columns with none if there is null

print(pokedex_data.isnull().sum())
pokedex_data["type_2"].fillna("None", inplace=True)
pokedex_data["ability_1"].fillna("None", inplace=True)
pokedex_data["ability_2"].fillna("None", inplace=True)
pokedex_data["ability_hidden"].fillna("None", inplace=True)
print(pokedex_data.isnull().sum())

id                    0
pokedex_number        0
name                  0
generation            0
status                0
species               0
type_number           0
type_1                0
type_2                0
height_m              0
weight_kg             1
abilities_number      0
ability_1             0
ability_2           529
ability_hidden        0
total_points          0
hp                    0
attack                0
defense               0
sp_attack             0
sp_defense            0
speed                 0
catch_rate           18
base_friendship     115
base_experience     120
growth_rate           1
against_normal        0
against_fire          0
against_water         0
against_electric      0
against_grass         0
against_ice           0
against_fight         0
against_poison        0
against_ground        0
against_flying        0
against_psychic       0
against_bug           0
against_rock          0
against_ghost         0
against_dragon        0
against_dark          0
against_steel         0
against_fairy         0
dtype: int64
id                    0
pokedex_number        0
name                  0
generation            0
status                0
species               0
type_number           0
type_1                0
type_2                0
height_m              0
weight_kg             1
abilities_number      0
ability_1             0
ability_2             0
ability_hidden        0
total_points          0
hp                    0
attack                0
defense               0
sp_attack             0
sp_defense            0
speed                 0
catch_rate           18
base_friendship     115
base_experience     120
growth_rate           1
against_normal        0
against_fire          0
against_water         0
against_electric      0
against_grass         0
against_ice           0
against_fight         0
against_poison        0
against_ground        0
against_flying        0
against_psychic       0
against_bug           0
against_rock          0
against_ghost         0
against_dragon        0
against_dark          0
against_steel         0
against_fairy         0
dtype: int64

C:\Users\dange\AppData\Local\Temp\ipykernel_16292\411143736.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  pokedex_data["ability_2"].fillna("None", inplace=True)

In [22]:
pokedex_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 44 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   generation        1045 non-null   int64
 4   status            1045 non-null   object
 5   species           1045 non-null   object
 6   type_number       1045 non-null   int64
 7   type_1            1045 non-null   object
 8   type_2            1045 non-null   object
 9   height_m          1045 non-null   float64
 10  weight_kg         1044 non-null   float64
 11  abilities_number  1045 non-null   int64
 12  ability_1         1045 non-null   object
 13  ability_2         1045 non-null   object
 14  ability_hidden    1045 non-null   object
 15  total_points      1045 non-null   int64
 16  hp                1045 non-null   int64
 17  attack            1045 non-null   int64
 18  defense           1045 non-null   int64
 19  sp_attack         1045 non-null   int64
 20  sp_defense        1045 non-null   int64
 21  speed             1045 non-null   int64
 22  catch_rate        1027 non-null   float64
 23  base_friendship   930 non-null    float64
 24  base_experience   925 non-null    float64
 25  growth_rate       1044 non-null   object
 26  against_normal    1045 non-null   float64
 27  against_fire      1045 non-null   float64
 28  against_water     1045 non-null   float64
 29  against_electric  1045 non-null   float64
 30  against_grass     1045 non-null   float64
 31  against_ice       1045 non-null   float64
 32  against_fight     1045 non-null   float64
 33  against_poison    1045 non-null   float64
 34  against_ground    1045 non-null   float64
 35  against_flying    1045 non-null   float64
 36  against_psychic   1045 non-null   float64
 37  against_bug       1045 non-null   float64
 38  against_rock      1045 non-null   float64
 39  against_ghost     1045 non-null   float64
 40  against_dragon    1045 non-null   float64
 41  against_dark      1045 non-null   float64
 42  against_steel     1045 non-null   float64
 43  against_fairy     1045 non-null   float64
dtypes: float64(23), int64(12), object(9)
memory usage: 359.3+ KB

In [24]:
pokedex_data[["growth_rate"]]

      growth_rate
0     Medium Slow
1     Medium Slow
2     Medium Slow
3     Medium Slow
4     Medium Slow
...           ...
1040         Slow
1041         Slow
1042         Slow
1043         Slow
1044         Slow

[1045 rows x 1 columns]

In [25]:
pokedex_data["growth_rate"].unique().tolist()

['Medium Slow', 'Medium Fast', 'Fast', 'Slow', 'Fluctuating', 'Erratic', nan]

In [ ]:
#finished cleaning the data now it's ready for metabase / mysql

pokedex_data.to_csv('cleaned_pokedex.csv', index=False)
print("Cleaned data saved as 'Cleaned_pokedex.csv'")

Cleaned data saved as 'Cleaned_pokedex.csv'